[submodule "mapproxy"]
	path = mapproxy
	url = git@github.com:geoinquietosvlc/mapproxy-workshop.git
[submodule "introduccion-gis"]
	path = introduccion-gis
	url = git@github.com:Delawen/Taller-GIS.git
[submodule "taller-geonetwork"]
	path = taller-geonetwork
	url = git@github.com:Delawen/taller-geonetwork.git
[submodule "taller-routing"]
	path = taller-routing
	url = git@github.com:Delawen/Taller-Routing.git
