[submodule "mapproxy"]
	path = mapproxy
	url = https://github.com/Delawen/Taller-Routing.git
[submodule "introduccion-gis"]
	path = introduccion-gis
	url = https://github.com/Delawen/Taller-GIS.git
[submodule "taller-geonetwork"]
	path = taller-geonetwork
	url = https://github.com/Delawen/taller-geonetwork.git
[submodule "taller-routing"]
	path = taller-routing
	url = https://github.com/Delawen/Taller-Routing.git
