[submodule "mapproxy"]
	path = mapproxy
	url = https://github.com/geoinquietosvlc/mapproxy-workshop.git
[submodule "josm-imposm-tilemill"]
	path = josm-imposm-tilemill
	url = https://github.com/geoinquietosvlc/josm-imposm-tilemill-workshop.git 
